@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

/* Global Styles */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-dark: #3c8067;
  --primary-cream: #f2ebe3;
  --secondary-dark-blue: #1c232b;
  --secondary-dark-grey-blue: #6c7289;
  --white: #ffffff;
  --radius: 0.5rem solid var(--secondary-dark-grey-blue);
  --ff-primary: "Montserrat", sans-serif;
  --ff-secondary: "Fraunces", serif;
  --light-shadow: 0 5px 15px #0000001a;
  --dark-shadow: 0 5px 15px #00000066;
  --spacing: 0.1rem;
  --radius: 0.5rem;
  --mobile-max-width: 375px;
  --desktop-max-width: 1440px;
  --transition: all 0.3s ease;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--ff-primary);
  background: var(--primary-cream);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
  font-family: var(--ff-secondary);
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

img {
  display: block;
  width: 100%;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* end Global styles */

.wrapper {
  min-height: 60vh;
  width: 100%;
  max-width: 60vw;
  box-shadow: var(--light-shadow);
  display: flex;
  border-radius: var(--radius);
  background-color: var(--white);
}

.wrapper:hover {
  box-shadow: var(--dark-shadow);
  transition: var(--transition);
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
  max-width: 500px;
}

.left_card {
  background: url("./images/image-product-desktop.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
